<template>
  <div class="antialiased sans-serif">
    <div>
      <div class="container">
        <div class="mb-5 w-56">
          <div class="relative">
            <input type="hidden" name="date" />
            <input
              type="text"
              readonly
              v-model="datepickerValue"
              @click="showDatepicker = !showDatepicker"
              @keydown.escape="showDatepicker = false"
              class="
                w-full
                pl-4
                pr-10
                py-3
                leading-none
                rounded-lg
                shadow-sm
                focus:outline-none focus:shadow-outline
                text-gray-600
                font-medium
              "
              placeholder="Select date"
            />

            <div class="absolute top-0 right-0 px-3 py-2">
              <svg
                class="h-6 w-6 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                />
              </svg>
            </div>
            <div
              class="
                bg-white
                mt-12
                rounded-lg
                shadow
                p-4
                absolute
                top-0
                left-0
                z-50
              "
              style="width: 17rem"
              v-if="showDatepicker"
            >
              <div class="flex justify-between items-center mb-2">
                <div>
                  <span class="text-lg font-bold text-gray-800">{{
                    month_names[month]
                  }}</span>
                  <span class="ml-1 text-lg text-gray-600 font-normal">
                    {{ year }}</span
                  >
                </div>
                <div>
                  <button
                    type="button"
                    class="
                      transition
                      ease-in-out
                      duration-100
                      inline-flex
                      cursor-pointer
                      hover:bg-gray-200
                      p-1
                      rounded-full
                    "
                    :class="{ 'cursor-not-allowed opacity-25': month == 0 }"
                    :disabled="month == 0 ? true : false"
                    @click="
                      month--;
                      getNoOfDays();
                    "
                  >
                    <svg
                      class="h-6 w-6 text-gray-500 inline-flex"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 19l-7-7 7-7"
                      />
                    </svg>
                  </button>
                  <button
                    type="button"
                    class="
                      transition
                      ease-in-out
                      duration-100
                      inline-flex
                      cursor-pointer
                      hover:bg-gray-200
                      p-1
                      rounded-full
                    "
                    :class="{ 'cursor-not-allowed opacity-25': month == 11 }"
                    :disabled="month == 11 ? true : false"
                    @click="
                      month++;
                      getNoOfDays();
                    "
                  >
                    <svg
                      class="h-6 w-6 text-gray-500 inline-flex"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      />
                    </svg>
                  </button>
                </div>
              </div>

              <div class="flex flex-wrap mb-3 -mx-1">
                <template v-for="(day, index) in days" :key="index">
                  <div style="width: 14.26%" class="px-1">
                    <div class="text-gray-800 font-medium text-center text-xs">
                      {{ day }}
                    </div>
                  </div>
                </template>
              </div>

              <div class="flex flex-wrap -mx-1">
                <template
                  v-for="(date, dateIndex) in no_of_days"
                  :key="dateIndex"
                >
                  <div style="width: 14.28%" class="px-1 mb-1">
                    <div
                      @click="setDateValue(date)"
                      class="
                        cursor-pointer
                        text-center text-sm
                        leading-none
                        rounded-full
                        leading-loose
                        transition
                        ease-in-out
                        duration-100
                      "
                      :class="{
                        'bg-blue-500 text-white': isSelected(date) == true,
                        'text-gray-700 hover:bg-blue-200':
                          isSelected(date) == false,
                      }"
                    >
                      {{ date }}
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

declare type DataType = {
  showDatepicker: boolean;
  datepickerValue: undefined | string;
  month: undefined | number;
  year: undefined | number;
  no_of_days: number[];
  days: string[];
  month_names: string[];
};

export default defineComponent({
  name: "DatePicker",
  data(): DataType {
    return {
      showDatepicker: false,
      datepickerValue: undefined,
      month: undefined,
      year: undefined,
      no_of_days: [],
      days: ["Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
      month_names: [],
    };
  },
  emits: ["changeDate"],
  created() {
    this.initDate();
    this.getListOfMonths();
    this.getNoOfDays();
  },
  watch: {
    datepickerValue() {
      this.$emit("changeDate", this.datepickerValue);
    },
  },
  methods: {
    /**
     * Initialisation du composant.
     */
    initDate() {
      let today = new Date();
      this.month = today.getMonth();
      this.year = today.getFullYear();
      this.datepickerValue = new Date(
        this.year,
        this.month,
        today.getDate()
      ).toLocaleDateString("fr-FR", {
        weekday: "short",
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
      });
    },
    /**
     * Récupère la liste des mois.
     */
    getListOfMonths() {
      const dateTimeFormat = new Intl.DateTimeFormat("fr-FR", {
        month: "long",
      });
      this.month_names = Array.from(Array(12).keys()).map((m) =>
        dateTimeFormat.format(new Date(this.year!, m))
      );
    },
    /**
     * Return true si la date est séléctionnée.
     */
    isSelected(date) {
      const d = new Date(this.year!, this.month!, date);

      return this.datepickerValue ===
        d.toLocaleDateString("fr-FR", {
          weekday: "short",
          day: "2-digit",
          month: "2-digit",
          year: "numeric",
        })
        ? true
        : false;
    },
    /**
     * Set la date cliquée au bon format.
     */
    setDateValue(date) {
      let selectedDate = new Date(this.year!, this.month!, date);
      this.datepickerValue = selectedDate.toLocaleDateString("fr-FR", {
        weekday: "short",
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
      });
      this.showDatepicker = false;
    },
    /**
     * Récupère la liste des numéros de jour.
     */
    getNoOfDays() {
      let daysInMonth = new Date(this.year!, this.month! + 1, 0).getDate();

      let daysArray: number[] = [];
      for (let i = 1; i <= daysInMonth; i++) {
        daysArray.push(i);
      }

      this.no_of_days = daysArray;
    },
  },
});
</script>
