<template>
  <div class="font-extrabold">
    <h1 class="text-3xl text-center font-bold">{{ titre }}</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { RESERVATION } from "../../utils/constants";
export default defineComponent({
  name: "Titre",
  data() {
    return {
      titre: RESERVATION,
    };
  },
});
</script>
