<template>
  <div>
    <div v-for="eq in listeEquipements" :key="eq" class="flex items-center">
      <div v-if="eq === 'TV'" class="w-6">
        <FontAwesomeIcon :icon="iconEqTV" />
      </div>
      <div v-if="eq === 'Retro Projecteur'" class="w-6">
        <FontAwesomeIcon :icon="iconEqRetro" />
      </div>
      <input
        type="checkbox"
        @change="setValue(eq)"
        id="accept"
        class="check-input mx-3"
        value="eq"
      />
      <label class="check-label" for="accept">{{ eq }}</label>
      <div class="flex-1"></div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  faTv,
  faVideo,
  IconDefinition,
} from "@fortawesome/free-solid-svg-icons";
import { defineComponent, PropType } from "vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

declare type FiltreEquipementsProps = {
  listeEquipements: Set<string>;
};

declare type DataType = {
  iconEqTV: IconDefinition;
  iconEqRetro: IconDefinition;
};

export default defineComponent({
  name: "FiltreEquipements",
  components: { FontAwesomeIcon },
  props: {
    listeEquipements: {
      type: Object as () => PropType<FiltreEquipementsProps>,
      required: true,
    },
  },
  data(): DataType {
    return {
      iconEqTV: faTv,
      iconEqRetro: faVideo,
    };
  },
  emits: ["buildFiltresActifs"],
  methods: {
    setValue(value: string) {
      this.$emit("buildFiltresActifs", value);
    },
  },
});
</script>
