<template>
  <div
    class="
      relative
      bottom-24
      rounded-b-3xl
      h-24
      justify-center
      flex
      border-b border-r border-l border-gray-200
      select-none
      z-0
    "
    :class="[
      disabled
        ? 'bg-indigo-300 cursor-not-allowed'
        : 'bg-blue-600 cursor-pointer',
    ]"
  >
    <div class="flex items-center justify-center">
      <div
        class="text-center text-2xl font-extrabold text-white flex-1"
        :class="[disabled ? 'text-gray-300' : 'hover:text-gray-300']"
      >
        {{ labelBouton }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "BoutonNext",
  props: ["disabled", "labelBouton"],
});
</script>
