<template>
  <Listbox as="div" v-model="hourSelected">
    <div class="mt-1 relative">
      <ListboxButton
        class="
          relative
          w-28
          bg-white
          border border-gray-300
          rounded-md
          shadow-sm
          pl-3
          pr-10
          py-2
          text-left
          cursor-default
          focus:outline-none
          focus:ring-1
          focus:ring-indigo-500
          focus:border-indigo-500
          sm:text-sm
        "
      >
        <span class="flex items-center">
          <span
            class="ml-1 block truncate font-semibold"
            v-if="hourSelected < 10"
          >
            {{ "0" + hourSelected + ": 00" }}</span
          >
          <span class="ml-3 block truncate font-semibold" v-else>
            {{ hourSelected + ": 00" }}</span
          >
        </span>
        <span
          class="
            ml-3
            absolute
            inset-y-0
            right-0
            flex
            items-center
            pr-2
            pointer-events-none
          "
        >
          <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
        </span>
      </ListboxButton>

      <transition
        leave-active-class="transition ease-in duration-100"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <ListboxOptions
          class="
            absolute
            mt-1
            w-full
            bg-white
            shadow-lg
            max-h-56
            rounded-md
            py-1
            text-base
            ring-1 ring-black ring-opacity-5
            overflow-auto
            focus:outline-none
            sm:text-sm
            h-40
          "
        >
          <ListboxOption
            as="template"
            v-for="h in listeHours"
            :key="h"
            :value="h"
            v-slot="{ active, selected }"
          >
            <li
              :class="[
                active ? 'text-white bg-indigo-600' : 'text-gray-900',
                'cursor-default select-none relative py-2 pl-3 pr-9',
              ]"
            >
              <div>
                <div class="flex items-center">
                  <span
                    v-if="h < 10"
                    :class="[
                      selected ? 'font-semibold' : 'font-normal',
                      'ml-3 block truncate',
                    ]"
                  >
                    {{ "0" + h + ":00" }}
                  </span>
                  <span
                    v-else
                    :class="[
                      selected ? 'font-semibold' : 'font-normal',
                      'ml-3 block truncate',
                    ]"
                  >
                    {{ h + ":00" }}
                  </span>
                </div>
              </div>

              <span
                v-if="selected"
                :class="[
                  active ? 'text-white' : 'text-indigo-600',
                  'absolute inset-y-0 right-0 flex items-center pr-4',
                ]"
              >
                <CheckIcon class="h-5 w-5" aria-hidden="true" />
              </span>
            </li>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </div>
  </Listbox>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import {
  Listbox,
  ListboxButton,
  ListboxOption,
  ListboxOptions,
} from "@headlessui/vue";
import { CheckIcon, SelectorIcon } from "@heroicons/vue/solid";

declare type TimeType = {
  hourSelected: number;
  listeHours: number[];
};

export default defineComponent({
  name: "Time",
  components: {
    Listbox,
    ListboxButton,
    ListboxOption,
    ListboxOptions,
    CheckIcon,
    SelectorIcon,
  },
  data(): TimeType {
    return {
      hourSelected: this.heureMini,
      listeHours: [],
    };
  },
  props: ["heureMini", "heureMax"],
  mounted() {
    this.buildListeHours();
  },
  watch: {
    hourSelected() {
      this.$emit("changeHour", this.hourSelected);
    },
  },
  methods: {
    /**
     * Return la liste des heures.
     */
    buildListeHours() {
      this.listeHours = [];
      for (let i = this.heureMini; i <= this.heureMax; i++) {
        this.listeHours.push(i);
      }
    },
  },
});
</script>
