<template>
  <Listbox as="div" v-model="capacity">
    <div class="mt-1 relative">
      <ListboxButton
        class="
          relative
          w-28
          bg-white
          border border-gray-300
          rounded-md
          shadow-sm
          pl-3
          pr-10
          py-2
          text-left
          cursor-default
          focus:outline-none
          focus:ring-1
          focus:ring-indigo-500
          focus:border-indigo-500
          sm:text-sm
        "
      >
        <span class="flex items-center">
          <span class="ml-3 block truncate font-semibold"> {{ capacity }}</span>
          <FontAwesomeIcon :icon="iconCapacity" class="absolute right-10" />
        </span>
        <span
          class="
            ml-3
            absolute
            inset-y-0
            right-0
            flex
            items-center
            pr-2
            pointer-events-none
          "
        >
          <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
        </span>
      </ListboxButton>

      <transition
        leave-active-class="transition ease-in duration-100"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <ListboxOptions
          class="
            absolute
            mt-1
            w-28
            bg-white
            shadow-lg
            max-h-56
            rounded-md
            py-1
            text-base
            ring-1 ring-black ring-opacity-5
            overflow-auto
            focus:outline-none
            sm:text-sm
            h-40
          "
        >
          <ListboxOption
            as="template"
            v-for="o in listeOptions"
            :key="o"
            :value="o"
            v-slot="{ active, selected }"
          >
            <li
              :class="[
                active ? 'text-white bg-indigo-600' : 'text-gray-900',
                'cursor-default select-none relative py-2 pl-3 pr-9',
              ]"
            >
              <div>
                <div class="flex items-center">
                  <span
                    v-if="o < 21"
                    :class="[
                      selected ? 'font-semibold' : 'font-normal',
                      'ml-3 block truncate',
                    ]"
                  >
                    {{ o }}
                  </span>
                  <span
                    v-else
                    :class="[
                      selected ? 'font-semibold' : 'font-normal',
                      'ml-3 block truncate',
                    ]"
                  >
                    {{ o + "+" }}
                  </span>
                </div>
              </div>

              <span
                v-if="capacity"
                :class="[
                  active ? 'text-white' : 'text-indigo-600',
                  'absolute inset-y-0 right-0 flex items-center pr-4',
                ]"
              >
                <CheckIcon class="h-5 w-5" aria-hidden="true" />
              </span>
            </li>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </div>
  </Listbox>
</template>

<script lang="ts">
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { defineComponent } from "vue";
import { faUsers } from "@fortawesome/free-solid-svg-icons";
import {
  Listbox,
  ListboxButton,
  ListboxOption,
  ListboxOptions,
} from "@headlessui/vue";
import { CheckIcon, SelectorIcon } from "@heroicons/vue/solid";

export default defineComponent({
  name: "FiltreCapacite",
  components: {
    Listbox,
    ListboxButton,
    ListboxOption,
    ListboxOptions,
    CheckIcon,
    SelectorIcon,
    FontAwesomeIcon,
  },
  data() {
    return {
      listeOptions: [5, 10, 20, 21],
      iconCapacity: faUsers,
      capacity: 0,
    };
  },
  emits: ["setCapacite"],
  watch: {
    capacity() {
      this.$emit("setCapacite", this.capacity);
    },
  },
});
</script>

<style></style>
