<template>
  <Listbox as="div" v-model="selected">
    <div class="mt-1 relative">
      <ListboxButton
        class="
          relative
          w-full
          bg-white
          border border-gray-300
          rounded-md
          shadow-sm
          pl-3
          pr-10
          py-2
          text-left
          cursor-default
          focus:outline-none
          focus:ring-1
          focus:ring-indigo-500
          focus:border-indigo-500
          sm:text-sm
        "
        :class="[options.length === 0 && 'cursor-not-allowed']"
      >
        <span class="flex items-center" v-if="!selected && options.length > 0">
          <FontAwesomeIcon :icon="iconSalle" />
          <span class="ml-3 block truncate text-gray-400"
            >Salles Disponibles</span
          >
        </span>
        <span class="flex items-center" v-else-if="options.length === 0">
          <span class="ml-3 block truncate text-gray-400"
            >Aucune salles disponibles</span
          >
        </span>
        <span class="flex items-center" v-else>
          <span class="ml-3 block truncate">{{ selected }}</span>
        </span>
        <span
          class="
            ml-3
            absolute
            inset-y-0
            right-0
            flex
            items-center
            pr-2
            pointer-events-none
          "
        >
          <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
        </span>
      </ListboxButton>

      <div v-if="options.length > 0">
        <transition
          leave-active-class="transition ease-in duration-100"
          leave-from-class="opacity-100"
          leave-to-class="opacity-0"
        >
          <ListboxOptions
            class="
              absolute
              z-10
              mt-1
              w-full
              bg-white
              shadow-lg
              max-h-56
              rounded-md
              py-1
              text-base
              ring-1 ring-black ring-opacity-5
              overflow-auto
              focus:outline-none
              sm:text-sm
              overflow-hidden
            "
          >
            <ListboxOption
              as="template"
              v-for="o in options"
              :key="o.name"
              :value="o.value"
              v-slot="{ active, selected }"
            >
              <li
                :class="[
                  active ? 'text-white bg-indigo-600' : 'text-gray-900',
                  'cursor-default select-none relative py-2 pl-3 pr-9',
                ]"
              >
                <div>
                  <div class="flex items-center">
                    <span
                      :class="[
                        selected ? 'font-semibold' : 'font-normal',
                        'ml-3 block truncate',
                      ]"
                    >
                      {{ o.name }}
                    </span>
                  </div>
                  <div class="ml-5 icon">
                    <FontAwesomeIcon :icon="iconCapacity" class="icon" />
                    <span class="ml-1">{{ o.capacity }} </span>
                  </div>
                </div>

                <span
                  v-if="selected"
                  :class="[
                    active ? 'text-white' : 'text-indigo-600',
                    'absolute inset-y-0 right-0 flex items-center pr-4',
                  ]"
                >
                  <CheckIcon class="h-5 w-5" aria-hidden="true" />
                </span>
              </li>
            </ListboxOption>
          </ListboxOptions>
        </transition>
      </div>
    </div>
  </Listbox>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import {
  Listbox,
  ListboxButton,
  ListboxOption,
  ListboxOptions,
} from "@headlessui/vue";
import { CheckIcon, SelectorIcon } from "@heroicons/vue/solid";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faDoorOpen,
  faUsers,
  faVideo,
  faTv,
} from "@fortawesome/free-solid-svg-icons";
import { OptionSalleType } from "@/model/type";

declare type SelectProps = {
  options: OptionSalleType;
};

export default defineComponent({
  name: "SelectSalle",
  components: {
    Listbox,
    ListboxButton,
    ListboxOption,
    ListboxOptions,
    CheckIcon,
    SelectorIcon,
    FontAwesomeIcon,
  },
  emits: ["setSalleSelected"],
  watch: {
    selected() {
      this.$emit("setSalleSelected", this.selected);
    },
  },
  props: {
    options: {
      type: Object as () => PropType<SelectProps>,
      required: true,
    },
  },
  data() {
    return {
      value: null,
      iconSalle: faDoorOpen,
      iconCapacity: faUsers,
      iconEqTV: faTv,
      iconEqRetro: faVideo,
      selected: null,
    };
  },
});
</script>

<style scoped>
.icon {
  font-size: 10px;
}
</style>
