<template>
  <div
    class="min-h-screen bg-gray-100 flex flex-col justify-center py-12"
    style="
      background-image: url('https://getwallpapers.com/wallpaper/full/1/8/1/465351.jpg');
    "
  >
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div
        id="card"
        class="
          relative
          px-4
          py-20
          bg-white
          shadow-lg
          rounded-3xl
          sm:p-20
          bg-clip-padding bg-opacity-60
          border border-gray-200
          h-5/6
        "
        style="backdrop-filter: blur(20px)"
      >
        <div class="max-w-md mx-auto mb-24">
          <Titre />

          <div v-if="etape1">
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700">
              <p>Choisissez la date de la réunion :</p>
              <DatePicker
                v-on:changeDate="
                  setDate($event, date.heureDebut, date.heureFin)
                "
              />
              <p>Choisissez l'heure de début / fin :</p>
              <div class="flex">
                <div class="mr-3">
                  <Time
                    :heureMini="heureMini"
                    :heureMax="heureMax"
                    v-on:changeHour="setHour($event, 'min')"
                  />
                </div>
                <Time
                  :heureMini="heureMini + 1"
                  :heureMax="heureMax"
                  v-on:changeHour="setHour($event, 'max')"
                />
              </div>
              <div
                v-if="date.heureFin <= date.heureDebut"
                class="
                  flex flex-col
                  text-xs
                  whitespace-pre-line
                  text-red-600
                  font-bold
                "
              >
                <span>L'heure de fin ne peut pas être inférieur</span
                ><span> ou égale à l'heure de début. </span>
              </div>
              <div v-else class="h-8"></div>
            </div>
          </div>
          <div v-if="etape2">
            <div class="absolute top-5 right-5">
              <FontAwesomeIcon
                :icon="iconClose"
                class="text-2xl cursor-pointer"
                @click="reset()"
              />
            </div>
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700">
              <p>Choisissez les équipements :</p>
              <FiltreEquipements
                :listeEquipements="equipements"
                v-on:buildFiltresActifs="buildFiltresActifs($event)"
              />
              <p>Choisissez la capacité maximum :</p>
              <FiltreCapacite v-on:setCapacite="setCapacite($event)" />
            </div>
          </div>
          <div v-if="etape3">
            <div class="absolute top-5 right-5">
              <FontAwesomeIcon
                :icon="iconClose"
                class="text-2xl cursor-pointer"
                @click="reset()"
              />
            </div>
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700">
              <p>Choisissez votre salle :</p>
              <SelectSalle
                :options="listeSalles"
                v-on:setSalleSelected="setSalleSelected($event)"
              />
            </div>
            <div class="w-full" v-if="salleSelected">
              <span
                >Vous avez choisi la <b> {{ salleSelected }} </b>.
              </span>
              <br />
              <span
                >Le
                <b>{{ date.jour + "/" + date.mois + "/" + date.annee }}</b> de
                <b>{{ date.heureDebut + "h" }}</b> à
                <b>{{ date.heureFin + "h" }}</b
                >.
              </span>
            </div>
          </div>
        </div>
      </div>
      <BoutonNext
        :labelBouton="etape3 ? labelReserver : labelBouton"
        @click="onClickBoutonNext()"
        :disabled="isDisabled()"
      />
    </div>
    <div v-if="reservations.length !== 0">
      <SallesReservees
        :reservations="reservations"
        v-on:deleteResa="deleteResa($event)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faTimesCircle,
  IconDefinition,
} from "@fortawesome/free-solid-svg-icons";
import axios from "axios";
import { v4 as uuidv4 } from "uuid";

import { contientFiltreActif, isSalleDispo } from "./utils/utils";
import * as constants from "./utils/constants";

import {
  BoutonNext,
  DatePicker,
  FiltreCapacite,
  FiltreEquipements,
  SelectSalle,
  Time,
  Titre,
  SallesReservees,
} from "./components/";

import {
  OptionSalleType,
  EquipementType,
  DateType,
  ReservationType,
} from "./model/type";

export declare type DataType = {
  equipements: undefined | Set<string>;
  listeSalles: undefined | OptionSalleType[];
  filtresActifs: EquipementType[];
  capacity: undefined | number;
  titre: string;
  labelBouton: string;
  labelReserver: string;
  date: undefined | DateType;
  heureMini: number;
  heureMax: number;
  etape1: boolean;
  etape2: boolean;
  etape3: boolean;
  iconClose: IconDefinition;
  salleSelected: undefined | string;
  reservations: undefined | ReservationType[];
  messageReservation: boolean;
};

export default defineComponent({
  name: "App",
  components: {
    Titre,
    BoutonNext,
    DatePicker,
    Time,
    FiltreEquipements,
    FontAwesomeIcon,
    FiltreCapacite,
    SelectSalle,
    SallesReservees,
  },
  data(): DataType {
    return {
      titre: constants.RESERVATION,
      equipements: undefined,
      listeSalles: undefined,
      filtresActifs: [],
      capacity: undefined,
      labelBouton: constants.ETAPE_SUIVANTE,
      labelReserver: constants.RESERVER,
      date: undefined,
      heureMini: 8,
      heureMax: 18,
      etape1: true,
      etape2: false,
      etape3: false,
      iconClose: faTimesCircle,
      salleSelected: undefined,
      reservations: undefined,
      messageReservation: false,
    };
  },
  created() {
    this.getSalles().then(() => {
      this.buildListeEquipements();
      this.getResa();
    });
  },
  beforeMount() {
    this.init();
  },
  methods: {
    async getResa() {
      const response = await axios.get("http://localhost:3000/reservations");
      this.reservations = response.data.data;
    },
    async getSalles() {
      const response = await axios.get("http://localhost:3000/salles");
      this.listeSalles = response.data.rooms;
    },
    init() {
      this.setDate(
        new Date().toLocaleDateString("fr-FR", {
          weekday: "short",
          day: "2-digit",
          month: "2-digit",
          year: "numeric",
        }),
        this.heureMini,
        this.heureMini + 1
      );
      this.etape1 = true;
      this.etape2 = false;
      this.etape3 = false;
      this.filtresActifs = [];
      this.capacity = undefined;
      this.salleSelected = undefined;
    },
    /**
     * Construis la liste des équipements.
     */
    buildListeEquipements() {
      let equipements: string[] = [];
      if (this.listeSalles) {
        for (let roomNumber in this.listeSalles) {
          this.listeSalles[roomNumber].equipements.map((e) =>
            equipements.push(e.name)
          );
        }
        this.equipements = new Set(equipements);
      }
    },
    /**
     * Construis la liste des salles.
     */
    buildListeSalles(listeFiltres: EquipementType[]) {
      let listeSalles: OptionSalleType[] = [];
      let rooms = this.listeSalles!;
      console.log(rooms);

      if (this.capacity) {
        rooms = rooms.filter((r) => r.capacity >= this.capacity!);
      }
      rooms.map((r) => {
        if (contientFiltreActif(r.equipements, listeFiltres)) {
          listeSalles.push({
            name: r.name,
            description: r.description,
            capacity: r.capacity,
            equipements: r.equipements,
            value: r.name,
          });
        }
      });
      listeSalles = listeSalles.filter((s) =>
        isSalleDispo(s, this.date!, this.reservations!)
      );

      this.listeSalles = listeSalles;
    },
    /**
     * Construis la liste des filtres actifs.
     */
    buildFiltresActifs(value: string) {
      if (this.filtresActifs.some((f) => f.name === value)) {
        this.filtresActifs = this.filtresActifs.filter((f) => f.name != value);
      } else {
        this.filtresActifs.push({ name: value });
      }
      this.buildListeSalles(this.filtresActifs);
    },
    setCapacite(capacity: number) {
      this.capacity = capacity;
      this.buildListeSalles(this.filtresActifs);
    },
    setDate(value: string, heureDebut: number, heureFin: number) {
      this.date = {
        jour: parseInt(value.substring(5, 7)),
        mois: parseInt(value.substring(8, 10)),
        annee: parseInt(value.substring(11, 15)),
        heureDebut,
        heureFin: heureFin,
      };
    },
    /**
     * Set l'heure de réservation de début/fin.
     */
    setHour(value: number, type: string) {
      switch (type) {
        case "min":
          this.date!.heureDebut = value;
          break;
        case "max":
          this.date!.heureFin = value;
          break;
      }
    },
    /**
     * OnClick du bouton.
     */
    onClickBoutonNext() {
      if (
        this.etape1 &&
        this.date &&
        this.date.heureDebut &&
        this.date.heureFin &&
        this.date.heureFin > this.date.heureDebut &&
        !this.isDisabled()
      ) {
        this.etape1 = false;
        this.etape2 = true;
      } else if (this.etape2 && !this.isDisabled()) {
        this.etape2 = false;
        this.etape3 = true;
        this.buildListeSalles(this.filtresActifs);
      } else if (this.etape3 && !this.isDisabled()) {
        this.reservations?.push({
          id: uuidv4(),
          dateReservation: this.date,
          nomSalle: this.salleSelected,
        } as ReservationType);
        axios
          .post("http://localhost:3000/reservations", {
            data: this.reservations,
          })
          .then(function res() {
            console.log("ok", res);
          })
          .catch(function err() {
            console.log(err);
          });
        this.init();
      }
    },
    /**
     * Reset des valeurs.
     */
    reset() {
      this.init();
    },
    /**
     * Set du filtre séléctionné.
     */
    setFiltre(value: string) {
      this.filtresActifs.push({ name: value });
    },
    /**
     * Set de la salle séléctionnée.
     */
    setSalleSelected(value: string) {
      this.salleSelected = value;
    },
    /**
     * Défini si le bouton est disable
     */
    isDisabled() {
      if (
        this.date &&
        this.date.heureFin &&
        this.date.heureDebut &&
        this.date.heureFin <= this.date.heureDebut
      ) {
        return true;
      }
      if (this.etape3 && !this.salleSelected) {
        return true;
      }
      return false;
    },
    /**
     * Supprime un reservation.
     */
    async deleteResa(id: string) {
      let resa = this.reservations?.filter((r) => r.id !== id);
      const response = await axios.post(
        "http://localhost:3000/annuler-reservations",
        { data: resa }
      );
      this.reservations = response.data.data;
      this.init();
    },
  },
});
</script>

<style>
#card {
  height: 599px;
  width: 395.42px;
}
</style>
