<template>
  <div class="w-screen flex flex-col space-x-4 space-y-2">
    <div class="justify-center text-center">
      <div class="text-3xl text-white font-black">SALLES RÉSERVÉES</div>
    </div>
    <div class="flex space-x-4">
      <div v-for="r in reservations" :key="r.nomSalle">
        <div
          class="
            flex flex-col
            space-y-4
            h-24
            w-52
            relative
            bg-green-400
            shadow-lg
            rounded-3xl
            bg-clip-padding bg-opacity-60
            border border-gray-200
          "
        >
          <div class="absolute top-2 right-2">
            <FontAwesomeIcon
              :icon="iconClose"
              class="text-xl cursor-pointer text-red-900"
              @click="deleteResa(r.id)"
            />
          </div>
          <span class="w-full text-center text-white text-lg">{{
            r.nomSalle
          }}</span>
          <span class="w-full text-center text-white"
            >Le
            <b>{{
              r.dateReservation.jour +
              "/" +
              r.dateReservation.mois +
              "/" +
              r.dateReservation.annee
            }}</b>
            de <b>{{ r.dateReservation.heureDebut + "h" }}</b> à
            <b>{{ r.dateReservation.heureFin + "h" }}</b
            >.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@vue/runtime-core";
import { ReservationType } from "@/model/type";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faTimesCircle,
  IconDefinition,
} from "@fortawesome/free-solid-svg-icons";

declare type SallesReserveesProps = {
  reservations: ReservationType[];
};

declare type DataType = {
  iconClose: IconDefinition;
};
export default defineComponent({
  name: "SallesReservees",
  components: { FontAwesomeIcon },
  props: {
    reservations: {
      type: Object as () => PropType<SallesReserveesProps>,
      required: true,
    },
  },
  data(): DataType {
    return {
      iconClose: faTimesCircle,
    };
  },
  emits: ["deleteResa"],
  methods: {
    deleteResa(id: string) {
      this.$emit("deleteResa", id);
    },
  },
});
</script>

<style></style>
